Workflows/InspRiesgoLoginMachine/definitions.json
{
  "Comment": "Workflow validar si el usuario tiene una inspección asignada",
  "StartAt": "Seleccionar",
  "States": {
    "Seleccionar": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FUNCTION_QUERY}",
        "Payload": {
          "email.$": "$.email"
        }
      },
      "ResultPath": "$.resultAsignaciones",
      "Next": "ResultAsignaciones"
    },
    "ResultAsignaciones": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.resultAsignaciones.Payload.Count",
          "NumericEquals": 0,
          "Next": "No existe email"
        }
      ],
      "Default": "Lambda Clave Dinamica"
    },
    "No existe email": {
      "Type": "Succeed"
    },
    "Lambda Clave Dinamica": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FUNCTION_CLAVE_DINAMICA}",
        "Payload": {
          "email.$": "$.resultAsignaciones.Payload.Items[0].correo_insp",
          "clave": "cclaveee",
          "do": "generar"
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 15,
          "MaxAttempts": 3,
          "BackoffRate": 1.5
        }
      ],
      "ResultPath": null,
      "Next": "Lambda Notificacion"
    },
    "Lambda Notificacion": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "${FUNCTION_NOTIFICACION}",
        "Payload.$": "$"
      },
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "End": true
    }
  }
}
